rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn()
        && request.auth.token.email == "13576198135@phone.flowplayer.app";
    }

    match /users/{userId} {
      allow read, write: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
    }

    match /chat_history/{userId} {
      allow read, write: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
    }

    match /chat_history_records/{userId}/records/{recordId} {
      allow read, write: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
